@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Shared styles */
* {
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
  font-family: "Work Sans", sans-serif;
}

.text-light-gray {
  color: #727272;
}

.sec-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

.btn-primary {
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  background: #ff900e;
  padding: 20px 25px;
  cursor: pointer;
}

/* header related style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}


/* nav related style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner related style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner img {
  margin-top: 20px;

  width: 100%;
}

/* main styles */
main {
  max-width: 1440px;
  margin: 70px auto;
}
/* teams style */
.teams-container{
  display: flex;
  align-items: center;
}
 .teams-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
 }
.teams-content{
  padding-left: 70px;
  padding-right: 70px;
}

.teams-title{
  font-size: 2.8rem;
}

.teams-title .ql{
  /* color: #727272; */
  font-weight: 500;
}

.teams-title .t-feat{
  color: #ff900e;
  font-weight: 700;
}










/*responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container
  {
    flex-direction: column;
  }

  .teams-content{
    padding-left: 20px;
    padding-right: 20px;
  }
  .teams-img-container{
    grid-template-columns: 1fr;
  }
}

/* tablet devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 30px;
  }
  nav, .teams-container {
    flex-direction: column;
  }
  nav li {
    margin-right: 15px;
    margin-bottom: 10px;
  }
  nav li a {
    font-size: 1.2rem;
  }
}
